<div class="row justify-content-between">
  <div class="col-md-6">
    <div
      class="d-flex flex-row justify-content-between header1 align-items-center"
    >
      <nav class="d-flex">
        <ul
          class="
            d-flex
            flex-row
            justify-content-between
            header1
            align-items-center
          "
        >
          <li>
            <a [routerLink]="['home']"> <img src="assets/img1.png" alt="" /></a>
          </li>
          <li></li>
          <a class="a-1" [routerLink]="['']">بیگیری خرید</a>
          <li></li>
          <a [routerLink]="['plane']">بلیط هوابیما</a>
          <li></li>
          <a [routerLink]="['hotel']">بلیط هتل</a>
          <li></li>
          <a [routerLink]="['']">بیشنهاد ویژه</a> 
          <li></li>
          <a [routerLink]="['']">بلاگ</a> 
          <li></li>
          <a [routerLink]="['']">شرکت ها و آژانس ها</a> 
          <li></li>
          <a [routerLink]="['']">فرصت های شغلی</a>
        </ul>
      </nav>
    </div>
  </div>
  <div
    class="d-flex col-md-2 align-items-center justify-content-evenly header2"
  >
    <a id="a-2" href="#">عضویت</a>
    <a id="a-3" href="#">ورود</a>
    <a href="#"><i class="fas fa-phone"></i></a>
  </div>
</div>
