<div class="container">
  <div class="p-1">
    <div class="d-flex row justify-content-between">
      <div class="col-md-2">
        <h5>بیشتر بدانید</h5>
        <ul>
          <a href="#"><li>باشگاه همراهان اسنپ تریپ</li></a>
          <a href="#"><li>سوالات متداول</li></a>
          <a href="#"><li>قوانین و مقررات</li></a>
          <a href="#"><li>همکاران تجاری</li></a>
          <a href="#"><li>تماس با ما</li></a>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>با ما در تماس باشید</h5>
        <ul>
          <li>تلفن: -96669066(021) 75132000</li>
          <li>ایمیل: info@snapptrip.com</li>
          <li>کد پستی: 1917754328</li>
          <li>آدرس: تهران، بلوار نلسون ماندلا، کوچه ایرج، پلاک صفر</li>
        </ul>
        <div class="icons">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-telegram"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>
      <div class="col-md-7">
        <h5>دانلود اپلیکیشن اسنپ تریپ</h5>
        <p>
          اپلیکیشن اسنپ تریپ را دانلود کنید و با موبایل رزروتان را آسان‌تر انجام
          دهید.
        </p>
        <div class="imgs">
          <img src="assets/pics5/don1.png" alt="" />
          <img src="assets/pics5/don2.png" alt="" />
          <img src="assets/pics5/don3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="p-2">
    <div class="d-flex row justify-content-between">
      <div class="d-flex flex-column col-md-7">
        <h4>درباره اسنپ تریپ</h4>
        <p>
          در اسنپ تریپ با چند کلیک می‌توانید پروازها و اقامتگاه‌های مختلف را
          بررسی کرده و با انتخاب مناسب‌ترین گزینه‌ها سفر خوشی را تجربه کنید.
        </p>
      </div>

      <div class="d-flex justify-content-end col-md-5">
        <img class="img-fluid" src="assets/pics6/enamad.png" alt="" />
        <img class="img-fluid" src="assets/pics6/samandehi.png" alt="" />
      </div>
    </div>
  </div>
  <div class="p-3">
    <p id="#last">
      از مطالب این وب‌سایت فقط می‌توانید برای مقاصد غیرتجاری و با ذکر منبع
      استفاده کنید. تمامی حقوق این وب‌سایت به شرکت آرا جهان نوین گستر اطلس تعلق
      دارد.
    </p>
    <p class="last">
      Copyright &copy;1399 snapptrip.com
    </p>
  </div>
</div>
