<div class="container col-md-10">
  <div class="p-1">
    <h4>خرید بلیط هواپیما از اسنپ تریپ</h4>
    <div class="row">
      <div class="d-flex flex-column box">
        <img class="img-fluid" src="assets/pics8/flight1.webp" alt="" />
        <h6>مکان کنسلی آنلاین بلیط هواپیما</h6>
        <p>
          تیم پشتیبانی ما به‌طور ۲۴ ساعته و در همه روزهای هفته آماده است که
          پاسخگوی سوال‌ها و مشکلات مسافرها باشد. شما در هر زمان می‌توانید روی
          تیم پشتیبانی ما حساب کنید.
        </p>
      </div>
      <div class="d-flex flex-column box">
        <img class="img-fluid" src="assets/pics8/flight3.webp" alt="" />
        <h6>پشتیبانی ۲۴ ساعته</h6>
        <p>
          تیم پشتیبانی ما به‌طور ۲۴ ساعته و در همه روزهای هفته آماده است که
          پاسخگوی سوال‌ها و مشکلات مسافرها باشد. شما در هر زمان می‌توانید روی
          تیم پشتیبانی ما حساب کنید.
        </p>
      </div>
      <div class="d-flex flex-column box">
        <img class="img-fluid" src="assets/pics8/flight2.webp" alt="" />
        <h6>پایین‌ترین قیمت خرید بلیط هواپیما</h6>
        <p>
          تیم پشتیبانی ما به‌طور ۲۴ ساعته و در همه روزهای هفته آماده است که
          پاسخگوی سوال‌ها و مشکلات مسافرها باشد. شما در هر زمان می‌توانید روی
          تیم پشتیبانی ما حساب کنید.
        </p>
      </div>
    </div>
  </div>

  <div class="p-2">
    <img id="pic1" class="img-fluid" src="assets/pics9/i1.png" alt="" />
    <img id="pic2" class="img-fluid" src="assets/pics9/i2.png" alt="" />
    <img id="pic3" class="img-fluid" src="assets/pics9/i3.png" alt="" />
    <img id="pic4" class="img-fluid" src="assets/pics9/i4.png" alt="" />
    <img id="pic5" class="img-fluid" src="assets/pics9/i5.png" alt="" />
  </div>
  <div class="p-3">
    <article>
      <h5>خرید آنلاین بلیط هواپیما</h5>
      <p>
        خرید بلیط هواپیما به‌عنوان نخستین گام سفر لازم است که بهترین تجربه‌ی
        خرید آنلاین خدمات سفر باشد تا با خیالی راحت به مراحل بعدی سفر قدم
        بگذارید. با خرید آنلاین بلیط هواپیما از اسنپ‌تریپ، راحت و ارزان تنها با
        چند کلیک بلیط سفرتان با بهترین قیمت، در کمترین زمان و به مطمئن‌ترین روش
        خریداری کنید.
      </p>
    </article>
    <article>
      <h5>مزایای خرید اینترنتی بلیط هواپیما از اسنپ‌تریپ</h5>
      <p>
        اسنپ‌تریپ به شما این امکان را می‌دهد که با هر بودجه‌ای در هر زمانی
        بتوانید دقیق‌ترین جست‌وجو و انتخاب بلیط هواپیما را داشته باشید.مراحل
        کوتاه و آسان خرید اینترنتی بلیط هواپیما از اسنپ‌تریپ با وارد کردن مبدا و
        مقصد و تاریخ سفر آغاز می‌شود و با چند کلیک به مرحله پرداخت و دریافت بلیط
        هواپیما ختم می‌شود تا بدون صرف وقت و هزینه برای خرید حضوری بلیط هواپیما
        در دنیای پرمشغله‌ی امروز، خدمتی در جهت سفر آسان و ارزان باشد.در سیستم
        خرید آنلاین بلیط هواپیما از اسنپ‌تریپ می‌توانید در تاریخ دلخواهتان تنها
        با یک جست‌وجوی ساده، تعداد پروازها، ظرفیت و قیمت را ببینید و سپس با
        استفاده از فیلترها، ایرلاین مورد نظرتان را انتخاب کنید، بلیط چارتری را
        سیستمی را برگزینید، نوع و امکانات پرواز را بسنجید و از میان گزینه‌های
        متنوع موجود، مناسب‌ترین، ارزان‌ترین و معتبرترین بلیط هواپیما را برای
        سفرتان انتخاب کنید.تیم پشتیبانی اسنپ‌تریپ در تمام روزهای هفته و 24 ساعت
        شبانه روز پاسخگوی تماس‌های شماست تا در هر مرحله اگر مشکل یا سوالی داشتید
        همراهیتان کند.
      </p>
    </article>

    <article>
      <h5>استرداد آنلاین بلیط هواپیما در اسنپ ‌تریپ</h5>
      <p>
        اگر به دلایل شخصی یا مشکلات ایرلاین یا تاخیر و تعجیل هواپیما خواستید
        بلیطتان را کنسل کنید می‌توانید مطمئن باشید که با چند کلیک و وارد کردن کد
        و ارائه شماره کارت، خیلی زود از پشتیبانی اسنپ‌تریپ بابت تایید و پرداخت
        مبلغ با شما تماس گرفته خواهد شد.پس از خرید بلیط هواپیما از اسنپ‌تریپ
        پیامکی دریافت می‌کنید که با لینک موجود در آن به راحتی و با چند کلیک
        می‌توانید درخواست کنسلی آنلاین برای پشتیبانی اسنپ‌تریپ ارسال کنید.بسته
        به اینکه برای دلیل درخواست کنسلی خود چه گزینه‌ای را انتخاب کنید، میزان
        جریمه کنسلی طبق قوانین کنسلی پرواز داخلی محاسبه و به شما نمایش داده
        می‌شود. پس از آن شماره کارت خود را ثبت می‌کنید تا پشتیبانی اسنپ‌تریپ
        مراحل مالی محاسبه و واریز پول بلیط شما را به اتمام برساند..
      </p>
    </article>
    <article>
      <h5>خرید آنلاین بلیط هواپیمای تمامی ایرلاین‌ها در اسنپ‌تریپ ا</h5>
      <p>
        یکی از راه‌های اینکه بتوانید برای خرید آنلاین بلیط هواپیما انتخاب
        دقیق‌تری داشته باشید تنوع گزینه‌های موجود است. در اسنپ‌تریپ در هر مسیری
        که انتخاب کنید تعداد زیادی از ایرلاین‌های معتبر را در نتایج جست‌وجو
        خواهید دید که از لحاظ قیمت، امکانات و خدمات رفاهی، روزها و شرایط پرواز و
        ... باهم متفاوتند و این تفاوت به شما حق انتخاب گسترده‌تری می‌دهد.
      </p>
    </article>
  </div>
  <div class="p-4">
    <h4>پاسخ به پرسش‌های شما</h4>
    <article *ngFor="let item of faqs">
      <h6>{{ item.question }}</h6>
      <p>{{ item.answer }}</p>
    </article>
  </div>
</div>
