<div class="container col-md-8">
  <div class="p-1">
    <div class="row">
      <p id="par" class="col-md-3">تغییر تاریخ سفر</p>
      <p id="par" class="col-md-3">اطلاعات هتل</p>
      <p id="par" class="col-md-3">لیست اتاق‌ها</p>
      <p id="par" class="col-md-3">نظرات کاربران</p>
    </div>
  </div>
  <div class="p-2">
    <img class="img-fluid" src="assets/pics10/a.jpeg" alt="" />
    <div class="box box1 d-flex flex-column">
      <div>
        <h3>هتل شهریار تبریز</h3>
        <div class="d-flex flex-row">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div>
          <h5>آدرس هتل شهریار تبریز</h5>
          <p>"تبریز، اول خیابان ائل گلی، بعد از پل کابلی."</p>
        </div>
        <img src="assets/map.png" alt="" />
      </div>
    </div>
    <div class="box box2">
      <div>
        <h6>درباره هتل پارسیان همدان</h6>
        <p id="small">
          هتل پارسیان آزادی همدان در منطقه‌ی باغشهر و نزدیک منطقه‌ی خوش آب و
          هوای عباس آباد قرار گرفته است. هتل آزادی نزدیک دامنه‌ی کوه الوند در
          غرب ایران واقع شده و چشم‌انداز تعدادی از اتاق‌ها به درختان بلند کوه
          الوند مشرف است و تعداد دیگری از اتاق‌ها رو به بلوار ارم هستند. بلوار
          ارم یکی از معروف‌ترین خیابان‌های همدان است که همواره جزو یکی از
          جاذبه‌های شهر همدانبرای مسافران بوده و به دلیل نزدیکی به منطقه‌ی خوش
          آب و هوای شهر جان می‌دهد برای پیاده‌روی و دوچرخه‌سواری. مناطق دیدنی و
          تاریخی همدان مثل تپه‌ی هگمتانه، گنج‌نامه، مجتمع تفریحی رنگین‌کمان،
          تفرجگاه عباس‌‌آباد و ... هم به هتل پارسیان آزادی همدان نزدیک هستند.
          هتل پارسیان آزادی همدان در دو رستوران فصلی و دائمی و با منوهای متنوع
          ایرانی و فرنگی از مهمانان پذیرایی می‌کند.
        </p>
      </div>
      <div>
        <h6>امکانات کلی هتل پارسیان همدان</h6>
        <div class="main d-flex flex-row">
          <div
            class="
              ult
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <i class="fad fa-check-square"></i>
            <p>سالن کنفرانس</p>
          </div>
          <div
            class="
              ult
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <i class="fas fa-check-square"></i>
            <p>سالن کنفرانس</p>
          </div>
          <div
            class="
              ult
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <i class="fas fa-check-square"></i>
            <p>سالن کنفرانس</p>
          </div>
          <div
            class="
              ult
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <i class="fas fa-check-square"></i>
            <p>سالن کنفرانس</p>
          </div>
          <div
            class="
              ult
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <i class="fas fa-check-square"></i>
            <p>سالن کنفرانس</p>
          </div>
          <div
            class="
              ult
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <i class="fas fa-check-square"></i>
            <p>سالن کنفرانس</p>
          </div>
          <div
            class="
              ult
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <i class="fas fa-check-square"></i>
            <p>سالن کنفرانس</p>
          </div>
          <div
            class="
              ult
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <i class="fas fa-check-square"></i>
            <p>سالن کنفرانس</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3">
    <h3>رزرو اتاق در هتل شهریار تبریز</h3>
    <div class="reserve d-flex flex-column">
      <div class="up d-flex justify-content-between">
        <h5>یک تخته کوچک</h5>
        <div class="d-flex flex-row justify-content-between">
          <p>4</p>
          <p>امتیاز همراهی</p>
          <i class="fa fa-diamond"></i>
        </div>
      </div>
      <div class="mid d-flex flex-row align-items-center justify-content-around">
        <div class="x col-md-3 one d-flex justify-content-between align-items-center">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>1 نفر</p>
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>1 نفر</p>
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>صبحانه</p>
          </div>
        </div>
        <div class="x  two  col-md-3 d-flex d-flex justify-content-between align-items-center">
          <p>برای 1 شب</p>
          <div class="d-flex flex-column">
            <p id="lil">1,100,000</p>
            <p>530,000 تومان</p>
          </div>
          <p id="bl">%51 تخفیف</p>
        </div>
        <div class="x three col-md-2 d-flex d-flex justify-content-around align-items-center">
          <p>تعداد اتاق</p>
          <p class="re">+</p>
          <p>1</p>
          <p class="re">-</p>
        </div>
        <div class="x four col-md-4 d-flex justify-content-around align-items-center">
          <p id="f">قیمت شب های دیگر</p>
          <p id="s">بررسی ظرفیت</p>
        </div>
      </div>
      <div class="down d-flex justify-content-between align-items-center">
        <div class="d-flex d ">
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
        </div>
        <p>امکانات بیشتر</p>
      </div>
    </div>
    <div class="reserve d-flex flex-column">
      <div class="up d-flex justify-content-between">
        <h5>یک تخته کوچک</h5>
        <div class="d-flex flex-row justify-content-between">
          <p>4</p>
          <p>امتیاز همراهی</p>
          <i class="fa fa-diamond"></i>
        </div>
      </div>
      <div class="mid d-flex flex-row align-items-center justify-content-around">
        <div class="x col-md-3 one d-flex justify-content-between align-items-center">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>1 نفر</p>
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>1 نفر</p>
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>صبحانه</p>
          </div>
        </div>
        <div class="x  two  col-md-3 d-flex d-flex justify-content-between align-items-center">
          <p>برای 1 شب</p>
          <div class="d-flex flex-column">
            <p id="lil">1,100,000</p>
            <p>530,000 تومان</p>
          </div>
          <p id="bl">%51 تخفیف</p>
        </div>
        <div class="x three col-md-2 d-flex d-flex justify-content-around align-items-center">
          <p>تعداد اتاق</p>
          <p class="re">+</p>
          <p>1</p>
          <p class="re">-</p>
        </div>
        <div class="x four col-md-4 d-flex justify-content-around align-items-center">
          <p id="f">قیمت شب های دیگر</p>
          <p id="s">بررسی ظرفیت</p>
        </div>
      </div>
      <div class="down d-flex justify-content-between align-items-center">
        <div class="d-flex d ">
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
        </div>
        <p>امکانات بیشتر</p>
      </div>
    </div>
    <div class="reserve d-flex flex-column">
      <div class="up d-flex justify-content-between">
        <h5>یک تخته کوچک</h5>
        <div class="d-flex flex-row justify-content-between">
          <p>4</p>
          <p>امتیاز همراهی</p>
          <i class="fa fa-diamond"></i>
        </div>
      </div>
      <div class="mid d-flex flex-row align-items-center justify-content-around">
        <div class="x col-md-3 one d-flex justify-content-between align-items-center">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>1 نفر</p>
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>1 نفر</p>
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>صبحانه</p>
          </div>
        </div>
        <div class="x  two  col-md-3 d-flex d-flex justify-content-between align-items-center">
          <p>برای 1 شب</p>
          <div class="d-flex flex-column">
            <p id="lil">1,100,000</p>
            <p>530,000 تومان</p>
          </div>
          <p id="bl">%51 تخفیف</p>
        </div>
        <div class="x three col-md-2 d-flex d-flex justify-content-around align-items-center">
          <p>تعداد اتاق</p>
          <p class="re">+</p>
          <p>1</p>
          <p class="re">-</p>
        </div>
        <div class="x four col-md-4 d-flex justify-content-around align-items-center">
          <p id="f">قیمت شب های دیگر</p>
          <p id="s">بررسی ظرفیت</p>
        </div>
      </div>
      <div class="down d-flex justify-content-between align-items-center">
        <div class="d-flex d ">
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
        </div>
        <p>امکانات بیشتر</p>
      </div>
    </div>
    <div class="reserve d-flex flex-column">
      <div class="up d-flex justify-content-between">
        <h5>یک تخته کوچک</h5>
        <div class="d-flex flex-row justify-content-between">
          <p>4</p>
          <p>امتیاز همراهی</p>
          <i class="fa fa-diamond"></i>
        </div>
      </div>
      <div class="mid d-flex flex-row align-items-center justify-content-around">
        <div class="x col-md-3 one d-flex justify-content-between align-items-center">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>1 نفر</p>
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>1 نفر</p>
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-star"></i>
            <p>صبحانه</p>
          </div>
        </div>
        <div class="x  two  col-md-3 d-flex d-flex justify-content-between align-items-center">
          <p>برای 1 شب</p>
          <div class="d-flex flex-column">
            <p id="lil">1,100,000</p>
            <p>530,000 تومان</p>
          </div>
          <p id="bl">%51 تخفیف</p>
        </div>
        <div class="x three col-md-2 d-flex d-flex justify-content-around align-items-center">
          <p>تعداد اتاق</p>
          <p class="re">+</p>
          <p>1</p>
          <p class="re">-</p>
        </div>
        <div class="x four col-md-4 d-flex justify-content-around align-items-center">
          <p id="f">قیمت شب های دیگر</p>
          <p id="s">بررسی ظرفیت</p>
        </div>
      </div>
      <div class="down d-flex justify-content-between align-items-center">
        <div class="d-flex d ">
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
          <p>تلویزیون</p>
        </div>
        <p>امکانات بیشتر</p>
      </div>
    </div>
    
  </div>
</div>
