<div class="containere">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3>هتلی که همیشه می‌خواستید، با قیمتی ارزان‌تر</h3>
      <div class="swiper-container mySwiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide d-flex flex-column">
            <img class="img-fluid" src="assets/pics4/hot1.jpeg" alt="" />
            <p>اقامتگاه سنتی پنج دری شیراز</p>
            <div>
              <i class="fas fa-bolt"></i>
              <span>پیشنهاد اسنپ تریپ</span>
            </div>
          </div>
          <div class="swiper-slide d-flex flex-column">
            <img class="img-fluid" src="assets/pics4/hot2.jpeg" alt="" />
            <p>اقامتگاه سنتی پنج دری شیراز</p>
            <div>
              <i class="fas fa-bolt"></i>
              <span>پیشنهاد اسنپ تریپ</span>
            </div>
          </div>
          <div class="swiper-slide d-flex flex-column">
            <img class="img-fluid" src="assets/pics4/hot3.jpeg" alt="" />
            <p>اقامتگاه سنتی پنج دری شیراز</p>
            <div>
              <i class="fas fa-bolt"></i>
              <span>پیشنهاد اسنپ تریپ</span>
            </div>
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="assets/pics4/hot4.jpeg" alt="" />
            <p>اقامتگاه سنتی پنج دری شیراز</p>
            <div>
              <i class="fas fa-bolt"></i>
              <span>پیشنهاد اسنپ تریپ</span>
            </div>
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="assets/pics4/hot5.jpeg" alt="" />
            <p>اقامتگاه سنتی پنج دری شیراز</p>
            <div>
              <i class="fas fa-bolt"></i>
              <span>پیشنهاد اسنپ تریپ</span>
            </div>
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="assets/pics4/hot6.jpeg" alt="" />
            <p>اقامتگاه سنتی پنج دری شیراز</p>
            <div>
              <i class="fas fa-bolt"></i>
              <span>پیشنهاد اسنپ تریپ</span>
            </div>
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="assets/pics4/hot7.jpeg" alt="" />
            <p>اقامتگاه سنتی پنج دری شیراز</p>
            <div>
              <i class="fas fa-bolt"></i>
              <span>پیشنهاد اسنپ تریپ</span>
            </div>
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="assets/pics4/hot8.jpeg" alt="" />
            <p>اقامتگاه سنتی پنج دری شیراز</p>
            <div>
              <i class="fas fa-bolt"></i>
              <span>پیشنهاد اسنپ تریپ</span>
            </div>
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="assets/pics4/hot9.jpeg" alt="" />
            <p>اقامتگاه سنتی پنج دری شیراز</p>
            <div>
              <i class="fas fa-bolt"></i>
              <span>پیشنهاد اسنپ تریپ</span>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 4,
    spaceBetween: 20,
    freeMode: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
