@import url("~vazir-font/dist/font-face.css");
@import url("~@fortawesome/fontawesome-free/css/all.min.css");
@import url('~swiper/swiper-bundle.min.css');
body {
    font-family: 'Vazir', sans-serif;
}
a:hover {
color: rgb(212, 53, 53);
}
